---
import fetchApi from '../lib/strapi';
import type Article from '../interfaces/article';
import MyLayout from '../components/layout.astro';

const articles = await fetchApi<Article[]>({
  endpoint: 'articles',
  wrappedByKey: 'data',
});

---

<MyLayout>
  <h1 class="text-2xl font-bold">Articles</h1>
		      <ul class="list-disc">
        {
          articles.map((article) => (
            <a href={`/blog/${article.attributes.slug}/`}>
              {article.attributes.title}
            </a>
          ))
        }
      </ul>
</MyLayout>