---
import fetchApi from '../lib/strapi';
import type Article from '../interfaces/article';
import MyLayout from '../components/layout.astro';

const articles = await fetchApi<Article[]>({
  endpoint: 'articles',
  wrappedByKey: 'data',
});

---

<MyLayout>
    <div class="text-sm breadcrumbs">
  <ul>
    <li>
      <a>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path></svg>
        Blog
      </a>
    </li> 
    <li>
      <a>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="w-4 h-4 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path></svg>
        Articles
      </a>
    </li> 
  </ul>
</div>
  <h1 class="text-2xl font-bold">Articles</h1>  

		      <ul class="flex flex-col space-y-2">
        {
          articles.map((article) => (
            <a class="link link-primary"
            href={`/blog/${article.attributes.slug}/`}>
              {article.attributes.title}
            </a>
          ))
        }
      </ul>
</MyLayout>