---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

    <body>
      <div class="navbar bg-base-100">
  <a class="btn btn-ghost text-xl" href="/">Blog</a>
</div>
      <main class="container mx-auto my-8 px-8">
      <slot /> <!-- your content is injected here -->
      </main>
    </body>
</html>

